.slide-container {
    display: flex;
    align-items: center;
    bottom: 0;
    height: 514px;
    background-color: rgb(30, 3, 8);
}

.slide-background {
    width: 115vw;
    height: 100%;
    overflow: hidden;
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    animation-duration: 5500ms;
}

.slide-content {
    width: 100%;
    white-space: pre-wrap;
    padding: 56px;
    position: absolute;
    right: 0;
    left: 0;
}

.slide-title {
    font-size: 4.25rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 4px 7px 17px rgb(0 0 0 / 80%);
    font-weight: 700;
    line-height: 1.2;
    animation-delay: 700ms;
}

.slide-icon {
    display: block;
    margin-bottom: 24px;
    animation-delay: 500ms;
}

.slide-btn {
    margin-top: 24px;
    background-color: #006fb2;
    border: solid 1px #00aeff;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline-offset: 2px;
    animation-delay: 900ms;
}

.slide-btn:hover {
    background-color: #007bc6;
    border: solid 1px #00aeff;
}

.slider {
    background-color: #0b0d12;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item {
    width: 100px;
    height: 6px;
    margin: 0 4px;
    flex-grow: 0;
    background: rgba(255,255,255,.5);
    cursor: pointer;
}

.active {
    background: #0086ca !important;
    transform: scaleY(1.75);
}

.play {
    width: 100px;
    height: 6px;
    background-color: #00aeff !important;
    animation: fillPagination;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    z-index: 30;
}

.slide-control-btn {
    cursor: pointer;
    border: 1px solid #263945;
    background-color: rgba(0,0,0,.5);
    height: 80px;
    width: 40px;
    fill:  #00aeff;
    position: absolute;
}

.prev {
    left: 50%;
    right: auto;
    transform: translateX(-800px);
}

.next {
    left: auto;
    right: 50%;
    transform: translateX(800px);
}

.shift-left-fade-in {
    animation-name: slideLeftFadeIn;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.slide-shift-left {
    animation-name: shiftSlideLeft;
    animation-duration: 5500ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.shift-right-fade-in {
    animation-name: slideRightFadeIn;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.slide-shift-right {
    animation-name: shiftSlideRight;
    animation-duration: 5500ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

@keyframes slideLeftFadeIn {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRightFadeIn {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shiftSlideLeft {
    0% {
        transform: translateX(120px) rotate(0.01deg);
        opacity: 0;
    }
    9.0909% {
        transform: translateX(20px) rotate(0.01deg);
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0.01deg);
        opacity: 1;
    }
}

@keyframes shiftSlideRight {
    0% {
        transform: translateX(-120px) rotate(0.01deg);
        opacity: 0;
    }
    9.0909% {
        transform: translateX(-20px) rotate(0.01deg);
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0.01deg);
        opacity: 1;
    }
}

@keyframes fillPagination {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


