.slide-container {
    display: flex;
    align-items: center;
    bottom: 0;
    height: 514px;
    background-color: rgb(30, 3, 8);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.slide-content {
    width: 100%;
    white-space: pre-wrap;
    padding: 56px;
    position: absolute;
    right: 0;
    left: 0;
}

.slide-title {
    font-size: 4.25rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 4px 7px 17px rgb(0 0 0 / 80%);
    font-weight: 700;
    line-height: 1.2;
}

.slide-icon {
    display: block;
    margin-bottom: 24px;
}

.slide-btn {
    margin-top: 24px;
    background-color: #006fb2;
    border: solid 1px #00aeff;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline-offset: 2px;
}

.slide-btn:hover {
    background-color: #007bc6;
    border: solid 1px #00aeff;
}

.slider {
    background-color: #0b0d12;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item {
    width: 100px;
    height: 6px;
    margin: 0 4px;
    flex-grow: 0;
    background: rgba(255,255,255,.5);
    cursor: pointer;
}

.active {
    background: #0086ca !important;
    transform: scaleY(1.75);
}

.slide-control-btn {
    cursor: pointer;
    border: 1px solid #263945;
    background-color: rgba(0,0,0,.5);
    height: 80px;
    width: 40px;
    fill:  #00aeff;
    position: absolute;
}

.prev {
    left: 50%;
    right: auto;
    transform: translateX(-800px);
}

.next {
    left: auto;
    right: 50%;
    transform: translateX(800px);
}