.card {
    margin: 12px;
}

.card img {
    width: 210px;
    height: 280px;
    border: 1px solid rgba(0,174,255,0);
    box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}

.card img:hover {
    border: 1px solid rgba(0,174,255,.5);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;  
    filter: brightness(115%) contrast(90%);
    transform: scale(1.05);
}