.gallery-container {
    background-position: top center;
    background-repeat: no-repeat;
}

.gallery {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1170px;
}

.headdingContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 12px;
}

.headdingContainer a {
    text-decoration: none;
}