.section-container {
    background-position: center;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.section-content {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 56px;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.section-btn {
    margin-top: 16px;
    background-color: #006fb2;
    border: solid 1px#00aeff;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline-offset: 2px;
    display: inline-block;
    margin-right: 16px;
}

.transparent-btn {
    color: #00aeff;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.section-icon {
    display: inline-block;
    margin-right: 12px;
    align-items: center;
    margin: 8px 0;
    margin-right: 12px;
    width: 21.6px;
    height: 21.6px;
}

.section-icon path{
   fill: #00aeff;
}

.section-icon-inside-btn {
    width: 32.4px;
    height: 32.4px;
    margin: 0;
    margin-left: 8px;
}

.section-icon-inside-btn path{
    fill: #fff;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 8px 0;
    padding: 0;
    display: inline-block;
}

.section-title-container {
    display: inline-flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mobile-link {
    line-height: 1.5;
    color: #00aeff;
    text-decoration: underline;
    transition: color 200ms;
    text-underline-position: under;
}

.section-icon-large {
    transform: translateX(+50%);
    height: 312px;
    color: #148eff;
    opacity: .3;
}

.section-icon-large-container {
    display: flex;
    align-items: center;
}

.section-image-container{
    z-index: 1;
    display: flex;
    align-items: center;
}

.section-image-container img{
    height: 332px;
    width: auto;
}